*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EFEFEF;
}

.content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}

.signUp-content{
    background-color: #CAD2C5;
    height: 870px;
    width: 500px;
    font-size: 1.2rem;
    padding: 20px;
    border-radius: 15px;
    border: 2px #2E2F2F solid;
}

.signUp-heading{
    color: #112A46;
    text-align: center;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    margin-top: 15px;
    margin-bottom: 15px ;
    font-weight: bold;
    font-weight: 600;
    /* text-shadow:
        -0.5px -0.5px 0 #2E2F2F,
        0.5px -0.5px 0 #2E2F2F,
        -0.5px 0.5px 0 #2E2F2F,
        0.5px 0.5px 0 #2E2F2F;  */
    
}

.signUp-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 735px;
    width: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.signUp-form label{
    display: block;
    color: #112A46;
    margin: 5px;
    
}

.input-box{
    margin: 20px;
    font-size: 1.3rem;
}

input{
    margin-left: 5px;
    font-size: 1.1rem;
    padding: 7px 170px 7px 5px;
    border-radius: 5px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline-width: 0;
}

.signUp-button{
    display: flex;
    justify-content: center;
}

button{
    text-align: center;
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #2E2F2F;
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    border: 2px solid #2E2F2F;
}

button:hover{
    background-color: #CDDDDD;
    color: #2E2F2F;
}

.login-ask{
    margin: 25px 0px 0px 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
